body {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  background-color: #A8D1D1;
  color: white;
  width: 100%;
  overflow-x: hidden;
  margin-top: 20px;
}

#pdf {
  font-family: 'Quicksand', sans-serif;
  font-size: 17px;
  border: none;
  background-color: black;
  color: white;
  padding: 10px;
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 10px;
}

#footer {
  margin-bottom: 10px;
}

#slogan {
  margin-top: 200px;
  margin-bottom: 225px;
}

#pdf:hover {
  background-color: lightcoral;
  cursor: pointer;
}

#logo {
  width: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image {
  width: 625px;
  height: 400px;
  border-radius: 20px;
  margin-bottom: 250px;
}

a {
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar {
  text-decoration: none;
  padding: 15px;
  font-size: 23px;
  font-weight: bold;
}

.navbar:hover {
  color: black;
  font-size: 30px;
  cursor: pointer;
}

li {
  display: inline;
}

#features {
  display: flex;
  flex-direction: column;
}

#team,
#about,
#social,
#investors {
  color: black;
}

#instagram-image,
#linkedin-image {
  width: 30px;
  height: 30px;
}

#instagram,
#linkedin {
  margin: 8px;
}

#social {
  margin-bottom: 70px;
}

#team {
  margin-top: 60px;
  margin-bottom: 20px;
}

#about {
  margin-top: -200px;
}

#music-three {
  width: 625px;
  height: 400px;
  border-radius: 20px;
  margin-bottom: 290px;
}

#mh-one {
  width: 625px;
  height: 400px;
  border-radius: 20px;
  margin-top: 85px;
}

.pic {
  width: 150px;
  height: 150px;
  border-radius: 100px;
}

.icon {
  width: 50px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}

#scroll {
  display: none;
}

#linkedin-image-team {
  width: 30px;
  height: 30px;
  margin-top: -15px;
}

.text {
  width: 800px;
  font-size: 23px;
  margin-left: auto;
  margin-right: auto;
}

[aos="fade"] {
  opacity: 0;
  transition-property: opacity;
}

[aos="fade"].aos-animate {
  opacity: 1;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  h1 {
    font-size: 30px;
  }

  ul {
    margin-top: 90px;
  }

  .text {
    width: 320px;
    font-size: 20px;
  }

  #slogan {
    margin-top: 270px;
    margin-bottom: 250px;
    font-size: 30px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  #mh-one {
    width: 345px;
    height: 230px;
    margin-top: 50px;
    margin-bottom: 60px;
  }

  #music-three {
    width: 345px;
    height: 230px;
    margin-top: -200px;
  }

  .image {
    width: 340px;
    height: 230px;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    padding: 20px;
    font-size: 34px;
    font-weight: bold;
  }

  .navbar:hover {
    color: black;
    font-size: 41px;
    cursor: pointer;
  }

  #scroll {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40px;
    height: 40px;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-name: scroll;
  }

  @keyframes scroll {
    0% {
      transform: translate(0px, 0px);
    }

    100% {
      transform: translate(0px, 20px);
    }
  }
}